/* transportation */
nav.nav.collapsible.transport {
    position: relative;
    z-index: 1;
}
  #trheader {
    background-image: url(./images/transport1.jpg);
    height: 72rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -34rem;
}
#trheader .content {
    position: relative;
    top: 45rem;
    left: 14rem;
    width: 60%;
    text-align: center;
    font-size: 240px;
    font-family: cursive;
}
#trheader .content h3 {
    position: relative;
    font-size: 49px;
    font-family: cursive;
    /* color: white !important; */
}
.head {
    position: relative;
    top: -38.5rem;
    background-color: black;
    height: 5rem;
    text-align: center;
    width: 60%;
    margin-left: 34rem;
}
.head h4 {
    color: white;
    font-size: 20px;
    /* margin-top: 22px; */
    position: relative;
    top: 7px;
}
#flights {
    display: flex;
    position: relative;
    top: -35rem;
}
#flights .image img{
    padding-left: 10px;
}
#flights .content {
    position: relative;
    top: 3rem;
    text-align: center;
}
#flights .content p {
    padding-left: 10px;
    font-size: 20px;
}
#flights .content h3 {
    padding-left: 27px;
}
#flights .content button a{
    color: black;

}
#flights .content button{
    border-radius: 10px;

}
#train {
    display: flex;
    position: relative;
    top: -35rem;
}
#train .image img {
    padding-left: 10px;
    /* width: 60%; */
    height: 52rem;
}
#train .content {
    position: relative;
    top: 3rem;
    text-align: center;
}
#train .content p {
    padding-left: 10px;
    font-size: 20px;
}
#flights .content h3 {
    padding-left: 27px;
}
#train .content button a{
    color: black;

}
#train .content button{
    border-radius: 10px;

}
#cars {
    display: flex;
    position: relative;
    top: -35rem;
}
#cars .image img {
    padding-left: 10px;
    height: 35rem;
    position: relative;
    top: 7rem;
}
#cars .content {
    position: relative;
    top: 3rem;
    text-align: center;
}
#cars .content p {
    padding-left: 10px;
    font-size: 20px;
}
#cars .content h3 {
    padding-left: 27px;
}
#cars .content button a{
    color: black;

}
#cars .content button{
    border-radius: 10px;

}
#pickup {
    display: flex;
    position: relative;
    top: -35rem;
}
#pickup .image img {
    padding-left: 10px;
    /* width: 60%; */
    height: 52rem;
}
#pickup .content {
    position: relative;
    top: 3rem;
    text-align: center;
}
#pickup .content p {
    padding-left: 10px;
    font-size: 20px;
}
#pickup .content h3 {
    padding-left: 27px;
}
#pickup .content button a{
    color: black;

}
#pickup .content button{
    border-radius: 10px;

}
